   #whole
   {
         background-color:white;
   }
   #header {
    background-color:#9370DB;
    color:white;
    text-align:inherit;
    height:60px;
    width:1100px;
    padding:4px;
}
#nav {
    line-height:30px;
    height:450px;
    width:150px;
    float:left;
    padding:5px;	      
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}
#back
 {
     background: #eeeeee;
 }
 
a:link {
    color:#000000;
    background-color:transparent;
    text-decoration:none;
}
a:visited {
    color:#000000;
    background-color:transparent;
    text-decoration:none;
}
a:hover {
    color:blue;
    background-color:transparent;
    text-decoration:underline;
}
a:active {
    color:#ff0000;
    background-color:transparent;
    text-decoration:underline;
}

  img { 
        width:130px; 
        height:40px;
        border:0
        background-color: silver;
  }
